<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="developers"></ion-back-button>
        </ion-buttons>
        <ion-title>developer</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="delete()">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="developer">
        <ion-item>
            <ion-label position="stacked">What's your name ?</ion-label>
            <ion-input [(ngModel)]="developer.name" placeholder="Developer Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">What are your special skills (comma separated)?</ion-label>
            <ion-input [(ngModel)]="skills" placeholder="Special Skills"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Your image URL</ion-label>
            <ion-input [(ngModel)]="developer.img" placeholder="https://...."></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="updateDeveloper()">Update Developer Info</ion-button>

    </div>
</ion-content>